.signInPageMain {
    background-image: url('../img/Blog_design_main2.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.signInPageMain .loadingIcon{
    animation-name: rotate;
    animation-duration: 3s;
    border-radius: 50%;
    animation-iteration-count: infinite;
}
@keyframes rotate {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(360deg);}
}
.signInPageMain .signInForm {
    background-color: #fff8;
    transform: translateY(10vh);
}